@font-face {
    font-family: 'lunchtype22-regular-webfont';
    src: url('lunchtype22-regular-webfont.woff2') format('woff2'),
         url('lunchtype22-regular-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 400;
}

*{padding: 0;margin: 0;}
::selection {background: #6c6c6c;}
::-moz-selection {background: #6c6c6c;}

html, body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: white;
}

h1, h2, h3, p, ul {
  color: #202020;
  font-family: 'lunchtype22-regular-webfont', sans-serif;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

h1 {
  font-size: 50px;
  text-align: center;
  max-width: 800px;
}
h2 {
  font-size: 35px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
h3 {
  font-size: 30px;
  text-align: center;
  padding-top: 3px;
}
p {
  font-size: 24px;
  max-width: 600px;
  padding-top: 10px;
}
ul {
  font-size: 24px;
  max-width: 600px;
}
li {
  margin-left: 23px;
  padding-top: 10px;
}

a {
  text-decoration: underline;
  color: #202020;
}
a:hover {
  
}

img {
  width: 100%;
}


.linkButton {
  text-decoration: none;
  background-color: white;
  border: 2px solid #202020;
  padding: 2px 15px 2px 15px;
  border-radius: 30px;
}
.linkButtonContainer {
  margin-top: 10px;
}

header div {
  background-color: #fff7e6ff;
  padding-top: 70px;
  padding-bottom: 70px;
  text-align: center;

}
header div img {
  width: 50%;
}
header .backButton {
  text-align: left;
}
header .backButton a {
  text-decoration: none;
}


main {
  margin-top: 80px;
}
main .fieldContainer {
  margin: 15px;
}
main .field {
  padding: 20px;
  background-color: #fff7e6ff;
  text-align: center;
  border-radius: 20px;
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}
main .profileContainer {
  display: flex;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
main .profile {
  text-align: center;
  margin-top: 30px;
  flex: 1;
}


footer {
  background-color: #202020;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 15px;
}
footer img {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
footer p, footer a {
  color: white;
}
footer p {
  text-align: center;
  margin-top: 50px;
}

@media (max-width: 800px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 27px;
  }
  h3 {
    font-size: 25px;
  }
  p, ul {
    font-size: 22px;
  }
  li {
    margin-left: 22px;
  }
  
  header div {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  main {
    margin-top: 50px;
  }
  main .profileContainer {
    display: block;
  }
  main .profile {
    margin-top: 20px;
  }
  footer {
    margin-top: 80px;
    padding-top: 10px;
  }
  footer img {
    width: 80%;
  }
}

@media (max-width: 400px) {
  h1 {
    font-size: 27px;
  }
  h2 {
    font-size: 24px;
  }
  h3 {
    font-size: 22px;
  }
  p, ul {
    font-size: 18px;
  }
  li {
    margin-left: 18px;
  }
}
